# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on property:persist.sys.cpboot=disable
    stop ril-daemon
    stop cpboot-daemon

service SMD-daemon /system/bin/smdexe
    class main
    user root
    group system radio inet net_raw

# DIAG
service DIAG-daemon /system/bin/diagexe
    class main
    user root
    group system radio inet net_raw sdcard_rw sdcard_r media_rw everybody

on property:telephony.lteOnCdmaDevice=1
    start VC-daemon

on early-boot
# Assign TCP buffer thresholds to be ceiling value of technology maximums
# Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max 33554432
    write /proc/sys/net/core/wmem_max 16777216

