service multiclient-daemon /system/bin/multiclientd
    class main
    disabled
    user radio
    group radio cache inet misc log readproc sdcard_rw

service multiclient-daemon1 /system/bin/multiclientd -c 2
    class main
    disabled
    user radio
    group radio cache inet misc log readproc sdcard_rw

on property:ril.halservice.registered.slot1=true
   start multiclient-daemon

on property:ril.halservice.registered.slot2=true
   start multiclient-daemon1
